MyWCFClient/Service References/demoMathsService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54168/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyWCF.Domain" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyWCF.Domain" minOccurs="0" name="obj" nillable="true" type="q1:Math" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sub">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyWCF.Domain" minOccurs="0" name="obj" nillable="true" type="q2:Math" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>