MyWCFClient/Service References/taskAsyncService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWCF.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWCF.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Math">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Math" nillable="true" type="tns:Math" />
</xs:schema>